.auth-button {
	width: 100%;
	display: block;
	border: 1px solid green;
	height: 2.5rem;
	margin: 1rem 0;
	border-radius: .3rem;
	background-color: green;
	font-size: 1.2rem;
	color: #fff;
	font-weight: 600;
}

.auth-button:hover {
	background-color: rgb(0, 180, 0);
	border: 1px solid rgb(0, 180, 0);
}