.manga-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.7rem 1rem;
  margin: 1rem auto;
  width: 90%;
}

@media (min-width: 500px) {
  .manga-list {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 675px) {
  .manga-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 1.5rem;
  }
}

@media (min-width: 1000px) {
  .manga-list {
    margin-left: 22%;
    width: 78%;
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .manga-list {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem 1.8rem;
  }
}
