.chapter-page .error-div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100vh;
}

.chapter-page .svg-inline--fa {
  cursor: pointer;
}

.chapter-page-header,
.chapter-page-footer,
.chapter-page-settings-inner {
  display: none;
  position: absolute;
  width: 100%;
}

.chapter-page-header,
.chapter-page-footer {
  align-items: center;
  background-color: rgb(70, 70, 70);
  color: #fff;
  z-index: 3;
  height: 3rem;
  padding: 0 1rem;
}

.chapter-page .active {
  display: flex;
}

.chapter-page-header {
  top: 0;
  left: 0;
}

.chapter-page-header .back-button {
  width: 13%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
}

.chapter-page-header p {
  margin: 0;
}

.chapter-page-header .svg-inline--fa {
  height: 24px;
  width: 24px;
}

.chapter-page-header .header-title {
  width: 80%;
}

.chapter-page-header .header-title p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chapter-page-header .header-title .manga-title {
  font-size: 1.2rem;
}

.chapter-page-header .header-title .chapter-number {
  font-size: 0.9rem;
}

.chapter-page-header .fa-cog {
  float: right;
}

.chapter-page-footer {
  bottom: 0;
}

.chapter-page-footer .svg-inline--fa {
  height: 16px;
  width: 16px;
}

.chapter-page-footer .fa-step-backward {
  margin-right: 0.7rem;
}

.chapter-page-footer .fa-step-forward {
  margin-left: 0.7rem;
}

.chapter-page-footer .rc-progress-line {
  width: 100%;
}

.light,
.light .svg-inline--fa {
  background-color: #fff;
  color: #000;
}

.dark,
.dark .svg-inline--fa {
  background-color: #000;
  color: #fff;
}

.chapter-page-settings {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.block-active {
  display: block;
}

.chapter-page-settings-inner {
  display: flex;
  height: 40%;
  flex-direction: column;
  bottom: 0;
  z-index: 4;
  padding: 0 1rem;
  justify-content: center;
}

.chapter-page-settings .chapter-view,
.chapter-page-settings .background-settings,
.chapter-page-settings .reading-mode {
  display: flex;
  align-items: center;
}

.chapter-page-settings p {
  margin: 0;
  width: 30%;
}

.chapter-page-settings .options {
  display: flex;
  width: 70%;
}

.chapter-page .loader-gif {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapter-page .loader-gif img {
  width: 96px;
}

.chapter-view,
.background-settings {
  margin-bottom: 2rem;
}

.options div {
  width: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.axis-vertical,
.axis-vertical .slider {
  height: 100vh !important;
}

.carousel .carousel-status {
  text-shadow: none;
}

.chapter-page-dark .carousel .carousel-status {
  color: #fff;
}

.chapter-page-light .carousel .carousel-status {
  color: #000;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 0;
  width: 100px;
}

.chapter-page-dark .carousel.carousel-slider .control-arrow:hover {
  background: rgba(255, 255, 255, 0.3);
}

.chapter-image {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.chapter-image img {
  width: 100%;
  margin: auto;
}

.chapter-image .image-loader {
  border-radius: 0;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.chapter-image .image-loader img {
  width: 72px;
  height: 72px;
}

.notify-chapter {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.notify-chapter div,
.notify-chapter .no-chapter {
  margin: 0 auto;
  position: relative;
  width: 50%;
  text-align: left;
}

.notify-chapter div p {
  font-weight: 600;
  margin: 0 auto;
  margin-top: 1rem;
}

.notify-chapter .no-chapter {
  text-align: center;
}

.notify-chapter button {
  display: block;
  margin-top: 0.6rem;
  background-color: rgba(175, 175, 175);
  border-radius: 0.3rem;
  border: 1px solid rgba(175, 175, 175);
  font-size: 0.95rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.notify-chapter button:hover {
  border: 1px solid rgba(200, 200, 200);
  background-color: rgba(200, 200, 200);
}

@media (max-height: 600px) {
  .chapter-image img {
    height: 85vh;
  }
}

@media (min-width: 675px) {
  .chapter-page-header,
  .chapter-page-footer {
    height: 5rem;
    padding: 0 1.5rem;
  }
  .chapter-page-header .svg-inline--fa {
    height: 36px;
    width: 36px;
  }
  .chapter-page-header .back-button {
    width: 10%;
  }
  .header-wrapper {
    width: 90%;
  }
  .chapter-page-header .header-title {
    width: 85%;
  }
  .chapter-page-header .header-title .manga-title {
    font-size: 1.6rem;
  }
  .chapter-page-header .header-title .chapter-number {
    font-size: 1.3rem;
  }
  .chapter-page-footer .svg-inline--fa {
    height: 28px;
    width: 28px;
  }
  .chapter-page-footer .fa-step-backward {
    margin-right: 1rem;
  }
  .chapter-page-footer .fa-step-forward {
    margin-left: 1rem;
  }
  .chapter-page-settings-inner {
    padding: 0 2rem;
  }
  .chapter-page-settings-inner .check-button {
    margin-right: 2rem;
  }
  .chapter-page-settings-inner .svg-inline--fa {
    width: 24px;
    height: 24px;
  }
  .chapter-page-settings p,
  .chapter-page-settings span {
    font-size: 1.5rem;
  }
  .carousel .carousel-status {
    font-size: 1.2rem;
    padding: 0 0.8rem;
    margin: 0.8rem 0;
  }
  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    width: 180px;
  }
  .chapter-image img {
    height: 90vh;
  }
  .notify-chapter div p,
  .notify-chapter div span,
  .notify-chapter .no-chapter {
    font-size: 1.5rem;
  }
  .notify-chapter button {
    font-size: 1.45rem;
    border-radius: 0.3rem;
    padding: 0.8rem 1.1rem;
  }
}

@media (min-width: 1000px) {
  .chapter-page .error-div {
    width: 80%;
  }
  .chapter-page .error-div-inner {
    width: 100%;
  }
  .chapter-page .loader-gif {
    width: 100%;
    margin: 0 auto;
  }
  .chapter-page-header .back-button {
    width: 8%;
  }
  .header-wrapper {
    width: 92%;
  }
  .chapter-page-header .header-title {
    width: 90%;
  }
  .chapter-page-footer .rc-progress-line {
    height: 1rem;
  }
  .carousel .carousel-status {
    font-size: 1.2rem;
    padding: 0 0.8rem;
    margin: 0.8rem 0;
  }
  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    opacity: 1;
    width: 15vw;
  }
  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
  }
  .chapter-page-dark .carousel .control-next.control-arrow:before {
    border-left: 1.5rem solid #fff;
  }
  .chapter-page-dark .carousel .control-prev.control-arrow:before {
    border-right: 1.5rem solid #fff;
  }
  .chapter-page-light .carousel .control-next.control-arrow:before {
    border-left: 1.5rem solid #000;
  }
  .chapter-page-light .carousel .control-prev.control-arrow:before {
    border-right: 1.5rem solid #000;
  }
  .carousel .slide img {
    height: 100vh;
    width: 70vw;
  }
  .chapter-image .image-loader img {
    width: 72px;
    height: 72px;
  }
}

@media (min-width: 1200px) {
  .chapter-page-header,
  .chapter-page-footer {
    padding: 0 2rem;
  }
  .chapter-page-header .back-button {
    width: 7%;
  }
  .header-wrapper {
    width: 93%;
  }
  .chapter-page-header .header-title {
    width: 90%;
  }
  .chapter-page-footer .rc-progress-line {
    height: 1.3rem;
  }
  .chapter-page-settings-inner {
    padding: 0 5rem;
  }
  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    width: 29vw;
  }
  .carousel .slide img {
    width: 42vw;
  }
  .chapter-image .image-loader img {
    width: 72px;
    height: 72px;
  }
}
