*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fdfffc;
  /*#0D1F2D*/
}

/*:root {
	--bg-color: ;
	--font-color: ;
}*/

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #100c08;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

a:focus,
button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* to prevent scroll when navbar is open */
.prevent-scroll {
  height: 100vh;
  overflow: hidden;
}

/*former-header-color: #5680e9*/
